In [9]:
import os
import pandas as pd
import numpy as np
from astropy.io import fits
import matplotlib.pyplot as plt

In [10]:
directory = '/data/HSC_generated/HSC_generated_v1/ddpm/g_band_ddpm'
window = '20px_diameter'

In [11]:
df = pd.read_csv(f'/data/HSC_generated/HSC_generated_v1/ddpm/g_band_ddpm/{window}_test_set_subset/segmented_image_data_v1.csv')
obj_ids = np.unique(df['object_id'])

In [13]:
obj_ids # automatically sorted

array([   1,    2,    3, ..., 1998, 1999, 2000])

In [14]:
# initialize an empty list to store the data
data = []

# loop through each object id
for obj_id in obj_ids:
    # load the segmented image for this object
    img_filename = f'{directory}/test_segmented_{obj_id}.fits'
    img = fits.getdata(img_filename)

    # loop through each unique object label in the image
    for obj_label in np.unique(img):
        # skip over the background label (which should be 0)
        if obj_label == 0:
            continue

        # count the number of pixels with this label
        num_pixels = np.sum(img == obj_label)

        # store the data in a tuple
        row = (obj_id, obj_label, num_pixels)

        # append the tuple to the data list
        data.append(row)

# convert the data list to a Pandas DataFrame
area_df = pd.DataFrame(data, columns=['object_id', 'NUMBER', 'PIXEL_AREA'])

In [15]:
area_df

      object_id  NUMBER  PIXEL_AREA
0             1       1         216
1             2       1         554
2             2       2         276
3             2       3          28
4             2       4          97
...         ...     ...         ...
4193       1998       2          53
4194       1998       3          25
4195       1998       4         246
4196       1999       1          58
4197       2000       1          75

[4198 rows x 3 columns]

In [16]:
full_df = pd.merge(df, area_df, on=['object_id', 'NUMBER'])

In [17]:
full_df.columns

Index(['object_id', 'NUMBER_IN_CENTER', 'NUMBER', 'PETRO_RADIUS', 'X_IMAGE',
       'Y_IMAGE', 'XMIN_IMAGE', 'XMAX_IMAGE', 'YMIN_IMAGE', 'YMAX_IMAGE',
       'ISOAREA_IMAGE', 'ISOAREA_WORLD', 'A_IMAGE', 'B_IMAGE', 'ERRCXX_IMAGE',
       'ERRCYY_IMAGE', 'ERRCXY_IMAGE', 'THETA_IMAGE', 'THETA_WORLD', 'MU_MAX',
       'ELLIPTICITY', 'FLUX_RADIUS', 'SPHEROID_SERSICN', 'PIXEL_AREA'],
      dtype='object')

In [18]:
full_df.to_csv(f'/data/HSC_generated/HSC_generated_v1/ddpm/g_band_ddpm/{window}_test_set_subset/processed_data_v1.csv', index=False)